{% load static %}
<!doctype html>
<html lang="{{selected_lang}}" class="{{color_theme}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'cwf/images/' %}{{app_config.apco_icon_file_name}}"
      type="image/icon"
    />
    <!-- <link rel="shortcut icon" type="image/x-icon" href="static/cwf/images/{{app_config.apco_icon_file_name}}"> -->
    <title>CineX - Login</title>
    {% comment %}
    <link
      href="{% static 'cwf/css/app/stx/login.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    {% endcomment %}
    <script>
      var cwf = cwf || {};
      var homePageURL = "{% url 'show_login_page' %}";
      cwf = {
        solutionName: "CineX",
        social_login_applicable: "{{social_login_applicable}}",
        is_error: "{{is_error}}",
        is_user_inactive: "{{is_user_inactive}}",
      };
      window.onload = function () {
        console.log("loading login form");
        cwf.cnxEntryForms.initCnxEntryForms();
      };
    </script>
  </head>
  <body class="{{color_theme}}">
    <script
      src="{% static 'cwf/js/std/jquery-3.6.0.js' %}"
      charset="utf-8"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'cwf/js/std/jquery.haml-1.3.js' %}"
      charset="utf-8"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'cwf/js/app/cnx/cnx-login.js' %}"
      charset="utf-8"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'cwf/js/app/utils.js' %}"
      charset="utf-8"
      type="text/javascript"
    ></script>
  </body>
</html>
